document.pdf
*.log
amas.properties
tm2.properties
.metadata/
tmp/
bin/
build/
output/
out/
logs/
com.google.guava/
com.quui.utils/
com.quui.coding.*
*.aux
*.bbl
*.blg
*.out*
*.log
com.quui.chat.*
.DS_Store
scorer2
senseval.result
